<div class='container'>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Angular Blog Demo</h1>
      <p class="lead">A simple CRUD Demo.</p>
    </div>
  </div>

  <!-- Content Cards here -->
  <div class="row">
    <div class='col-md-4 col-sm-6 mb-3' *ngFor="let post of posts">
      <div class="card" >
        <img class="card-img-top" src="https://via.placeholder.com/150 "
         alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title"><a routerLink="/posts/{{post.id}}">
              {{post.title}}
            </a></h5>
          <p class="card-text"> {{post.content | contentPipe}} </p> 
          <a routerLink="/posts/{{post.id}}">Read More</a>
        </div>
      </div>
    </div>
  </div>

</div>